* {
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #F4F5FA;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    background-color: white;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-align: center;


}

.recipe-list{
    list-style-type: none;
}

